* {
    padding: 0;
    margin: 0;

    font-family: "Arial";
}
nav ul {
    display: flex;
    flex-direction: column;

    list-style-type: none;

    background-color: #444;
}
nav ul li a {
    display: block;
    padding: .8rem 1.0rem;

    text-decoration: none;

    color: #f9f9f9;
}
nav ul li a:hover {
    background: rgba(0, 0, 0, .4);
}
@media only screen and (min-width: 30em) {
    nav ul {
        flex-direction: row;

        justify-content: space-around;
    }
    nav ul li {
        text-align: center;

        flex: 1 0 auto;
    }
}
